<!doctype html>
<html>
  <head>
    <title>管理系统</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <base href="/" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--link href="assets/css/weather-icons.min.css" rel="stylesheet" /-->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/typicons.font/src/font/typicons.css">
    <link rel="stylesheet" href="bower_components/open-sans-fontface/open-sans.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.css">
    <link rel="stylesheet" href="vendor/beyond/beyond.css">
    <link rel="stylesheet" href="vendor/beyond/skins/azure.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="dist/all.css">
  </head>
  <body ng-app="lcbman">

    <div>
      <ui-view></ui-view>
    </div>

    <!-- build:js dist/rt.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
    <!-- endbuild -->
    <!-- build:js dist/vendor.js -->
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs.js"></script>
    <script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-ui-validate/dist/validate.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
    <script src="bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="vendor/jquery/jquery.spring-friendly.js"></script>
    <!--script src="vendor/beyond/skins.min.js"></script-->
    <!-- endbuild -->

    <!--script src="vendor/jquery/charts/sparkline/jquery.sparkline.js"></script>
    <script src="vendor/jquery/charts/flot/jquery.flot.js"></script>
    <script src="vendor/jquery/charts/easypiechart/jquery.easypiechart.js"></script-->

    <!--script src="bower_components/system.js/dist/system.js"></script-->
    <script src="dist/app.js"></script>
    <!--script src="vendor/beyond/beyond.js"></script-->
    <!--script src="dist/templates.js"></script-->

  </body>
</html>
